{
    "plugins": ["transform-react-jsx", "react-hot-loader/babel"],
    "presets": ["stage-2", "react",  ["env", {
                                        "targets": {
                                            "browsers": ["ie 9"]
                                        },
                                        "modules": false
                                    }]
                ]
}